<h1 class="page-head">User Management</h1>

<button class="btn btn-primary create-btn" (click)="openAddpopup = true">Create User</button>

<div class="clearfix"></div>
<p-messages [value]="msgs" appendTo="body"></p-messages>
<p-table [value]="users" [lazy]="true" (onLazyLoad)="paginate($event)" [paginator]="true" 
[rows]="rowsPerpage" [totalRecords]="totalRecords" [loading]="loading" [responsive]="true" emptymessage='No records found.'>
  <ng-template pTemplate="header">
    <tr>
      <th width="10%"></th>
      <th>Name</th>
      <th>Email Id</th>
      <th>Telephone</th>
      <th>Created on</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-index="rowIndex">
    <tr>
      <td width="10%" align="center">
        <i class="fa fa-trash" (click)="deleteUserConfirm(user.id, index)"></i> &nbsp;
        <i class="fa {{ user.editable ? 'fa-save' : 'fa-pencil'}}" (click)="user.editable ? save(user) : user.editable = true"></i> &nbsp;
        <i class="fa fa-close" *ngIf="user.editable" (click)="user.editable = false"></i>
      </td>
      <td><span class="ui-column-title">Name : </span> <span *ngIf="!user.editable">{{user.name}}</span><span *ngIf="user.editable"><input type="text" [(ngModel)]="user.name"/></span>
      </td>
      <td><span class="ui-column-title">Email :</span> <span *ngIf="!user.editable">{{user.email}}</span><span *ngIf="user.editable"><input type="email" [(ngModel)]="user.email"/></span></td>
      <td><span class="ui-column-title">Telephone : </span> <span *ngIf="!user.editable">{{user.tel}}</span><span *ngIf="user.editable"><input type="tel" [(ngModel)]="user.tel"/></span></td>
      <td><span class="ui-column-title">Created : </span> {{user.created | date : 'short'}}</td>
    </tr>
  </ng-template>
</p-table>

<!-- Modal -->
<div *ngIf="openAddpopup" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="openAddpopup = false">&times;</button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" [(ngModel)]="user.name" id="name">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" [(ngModel)]="user.email" id="email">
        </div>
        <div class="form-group">
          <label for="tel">Telephone:</label>
          <input type="tel" class="form-control" [(ngModel)]="user.tel" id="tel">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="addUser($event)">Save</button>
      </div>
    </div>

  </div>
</div>
<p-confirmDialog></p-confirmDialog>
