h1 {
  font-size: 28px;
  color: $primary-text;
  margin: 10px 0 20px 0;
  font-weight: 100;
}

.wrapper {
  overflow: hidden;
  overflow-y: auto;
  @include breakpoint(mobileonly) {
    height: calc(100% - 70px);
  }
  
  @include breakpoint(phablet) {
    height: calc(100% - 80px);
  }
  
  @include breakpoint(tablet) {
    height: calc(100% - 80px);
  }
  @include breakpoint(laptop) {
    height: calc(100% - 100px);
  }
  @include breakpoint(desktop) {
    height: calc(100% - 100px);
  }
}

.container {
  height: 100%;
  float: left;
  transition: .3s ease;
  width: 100%;

  @include breakpoint(laptop) {
    width: calc(100% - 50px);
  }
}

.expand .container {
  @include breakpoint(laptop) {
    width: calc(100% - 200px) !important;
  }
}

