.main-table {
    width: 80%;
}

table, td, tr {
    border: solid 1px #ccc;
    word-break: break-all;
}
td i {
    cursor: pointer;
}

th {
    background: #517bb8;
    color: #fff;
    border: solid 1px $blue;
    padding: 7px !important;
}

tr:nth-child(even) {
    background: #eaf1ff;
}

tr:hover {
    background: #e3e3e3;
}